.idea/

data/elasticsearch/*
data/learn
data/recipes

ingest/.idea
ingest/ingest.iml
ingest/src/main/resources/config.json
ingest/target

learn/cmake-build-debug/
learn/vendor/Shark

visualize/log/
visualize/cache/
visualize/composer.lock
visualize/vendor/
visualize/vuejs/node_modules/
visualize/vuejs/npm-debug.log
visualize/vuejs/test/unit/coverage
